# BREWPI HOST
BREWPI_USERNAME = 'user'
BREWPI_PASSWORD = 'pass'
BREWPI_URI = 'http://some.brewpi.server'

# Sensor configs
SENSOR_HLT = "28FF51CB8017043C"
SENSOR_MASHTUN = "3BCD"
SENSOR_RES = "288282929292"
SENSOR_BK = "99900088"
SENSOR_CFC = "883938388"

ACTUATOR_HLT = 25
ACTUATOR_RES = 24
ACTUATOR_BK = 23

